#left_header{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
}

#right_header{
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 50%;
}
#group_name{
	position : absolute;
	left 	: 0;
	width 	: 100%;
	top 	: 5%;
	height 	: 25%;
	text-align: center;
}
#group_intro{

	position : absolute;
	left 	: 0;
	width 	: 100%;
	top 	: 30%;
	height 	: 70%;
	text-align : left;
}

.header_a {
	color: #D8D8D8FF !important;
	top: 0;
	height: 100%;
	width: 7%;
	margin-right: 1%;
	margin-left: 1%;
	text-align: center;
}

.header_a:hover {
	background-color: #848484FF !important;
}
.header_a:active {
	background-color: #D8D8D8FF !important;
	color: #4C4C4CFF !important;
}

.header_row {
	position: relative;
	width: 90%;
	margin-top: 2px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: : 2%;
}