body{
	overflow : hidden;
}

*{
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;

	color: #D3D3D3FF;
	cursor: default;
}

#header{
	position: absolute;

	background-color: #606060;
	left: 0;
	top: 0;
	height: 8%;
	width: 100%;
}

#content{
	position: absolute;
	left: 0;
	top: 8%;
	height: 92%;
	width: 100%;

	background-color: #606060;

	overflow: auto;
	
}

.hidden{
	display: none;
}

::selection
{
	background : #DDDDDD; 
	color : #383838FF;
}

/*
.header_a[my_title]:hover:after{
	content: attr(my_title);
	position: absolute;
	top : 105%;
	left: 25px;
	background : 0 !important; 
	color : #D1D1D1FF !important;
}
*/