.layui-table-tool{
	background-color: #353535 !important;
	padding: 0 !important;
	margin: 0 !important;
	outline: 0 !important;
	top: 0 !important;
	height: 8% !important;
	left: 0 !important;
	width: 100% !important;
}

/*导出的弹出框*/
.layui-table-tool-panel{
	background-color: #25656E !important;
	padding: 0 !important;
	margin: 0 !important;
	outline: 0 !important;
	border: solid 1px !important;
	border-color: #DBDBDBFF !important;
}

.layui-table-tool-panel li{
	background-color: #00000000 !important;
	color: #DBDBDBFF !important;
	padding: 0 !important;
	margin: 0 !important;
	outline: 0 !important;

	padding-left: 10px !important;
}

@-webkit-keyframes panel_hover
{
	from 
	{
		color : #DBDBDBFF ;
		background-color: #00000000;
	}
	to 
	{
		color : #25656E ;
		background-color: #DBDBDBFF;
	}
}

@-webkit-keyframes panel_unhover
{
	from 
	{
		color : #25656E ;
		background-color: #DBDBDBFF;
	}
	to 
	{
		color : #DBDBDBFF;
		background-color: #00000000;
	}
}

.panel_hover_anime
{
	-webkit-animation : panel_unhover 0.5s !important;
}


.layui-table-tool-panel li:hover{
	color : #25656E !important;
	background-color: #DBDBDBFF !important;
	-webkit-animation : panel_hover 1s !important;
	-webkit-animation-timing-function: ease-out;
}