.layui-table-tool{
	background-color: #353535 !important;
	padding: 0 !important;
	margin: 0 !important;
	outline: 0 !important;
	top: 0 !important;
	height: 8% !important;
	left: 0 !important;
	width: 100% !important;
}