.layui-table-tool{
	background-color: #353535 !important;
	padding: 0 !important;
	margin: 0 !important;
	outline: 0 !important;
	top: 0 !important;
	height: 8% !important;
	left: 0 !important;
	width: 100% !important;
}

/*导出的弹出框*/
.layui-table-tool-panel{
	color : #DBDBDBFF;
	background-color: #25656E !important;
	padding: 0 !important;
	margin: 0 !important;
	outline: 0 !important;
	border: solid 1px !important;
	border-color: #DBDBDBFF !important;

	transition: 0.5s all !important;

}

.layui-table-tool-panel li .layui-form-checkbox span {
	color: #DBDBDBFF !important;
	background-color: #25656E !important;
	transition: 0.5s all !important;
}

.layui-table-tool-panel li:hover{
	color : #25656E !important;
	background-color: #DBDBDBFF !important;
	transition-timing-function: ease-out !important;
	transition: 1s all !important;
}

.layui-table-tool-panel li:hover .layui-form-checkbox span{
	color : #25656E !important;
	background-color: #DBDBDBFF !important;

	transition-timing-function: ease-out !important;
	transition: 1s all !important;
}

/*工具栏按钮*/
.layui-table-tool-self .layui-inline {
	color: #DBDBDBFF !important;
	border: 1px solid #DBDBDBFF !important;
	background-color: #00000000 !important;
	transition: none !important;

}

.layui-table-tool-self .layui-inline i{
	color: #DBDBDBFF !important;
}


/*我想取消动画，但不知道为什么还是有动画*/
.layui-table-tool-self .layui-inline:hover {
	color: #4C4C4CFF !important;
	border: 1px solid #00000000 !important;
	background-color: #DBDBDBFF !important;
	-webkit-animation : none !important;
	transition: none !important;
}

.layui-table-tool-self .layui-inline:hover i{
	color: #4C4C4CFF !important;
	transition: none !important;
	transition: none !important;
}
