#left_header{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 20%;
}

#project_name{
	position: absolute;
	top: 3%;
	left: 0;
	height: 20px;
	width: 100%;

	text-align: center;

}
#middle_header{
	position: absolute;
	top: 0;
	left: 20%;
	height: 100%;
	width: 50%;
}

#path_inp{
	position: absolute;
	top: 5%;
	left: 5px;
	height: 20%;
	width: 100%;
	border-bottom: 1px solid #DBDBDBFF;

	background-color: inherit;
	resize: none;

	text-align: left;
}

#project_intro{
	position: absolute;
	top: 30%;
	left: 5px;
	height: 65%;
	width: 100%;

	background-color: inherit;
	resize: none;

	text-align: left;
}

#right_header{
	position: absolute;
	top: 0;
	left: 70%;
	height: 100%;
	width: 30%;
}

#new_group_name_inp
{
	position: absolute;
	top: 5%;
	height : 20%;
	width : 82%;
	left: 5%;
	font-size : 13px;
	background-color : #232329FF;
	outline: none;
}

#new_group_button
{
	position: absolute;
	top: 5%;
	width : 5%;
	left : 90%;
	height : 20%;
	cursor : default;
	background-color : #00000000;
}

.header_a{
	position: relative;

	margin-left: 	2px;
	margin-right: 	3px;
	margin-top: 	2px;
	margin-bottom: 	3px;

	cursor : default;
	font-size : 15px;
	text-align: center;
	color: #D3D3D3FF;
	background-color : #00000000;
	text-decoration : none;
}

#header_button_container{
	position: absolute;

	top: 55%;
	width : 90%;
	left : 5%;
	height : 20%;
}

#new_group_button:hover , .header_a:hover
{
	background-color : #8E8E8EFF !important;
	color: #2B2B2BFF !important;
}
#new_group_button:active , .header_a:active
{
	color : #000000FF !important;
	background-color : #D3D3D3FF !important;
}
