
#create_button{
	position: relative;
	color: #E5E5E5FF;
	background-color: inherit;
	left: 85%;
	top: 30%;
	width: 10%;
	height: 30%;
}
#create_button:hover{
	color: #333333FF !important;
	background-color: #E5E5E5FF !important;
}
#the_create_form{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#config_manu{
	position: absolute;
	color: #E5E5E5FF;
	background-color: inherit;
	left: 10%;
	top: 30%;
	width: 70%;
	height: 30%;
	padding: 0;
	margin: 0;

}
#config_name_input{
	position: relative;

	margin-left: 5%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-right: 15%;
	font-size: 15px  !important;

	color: #E5E5E5FF;
	background-color: #333333FF;
}
#config_manu select{
	background-color: #383838FF;
	color: #E5E5E5FF;

}
#config_manu select:hover{
	background-color: #161616FF;
}

#config_manu option{
	background-color: #5E5E5EFF;
	color: #E5E5E5FF;
}

.my-skin .layui-layer-content{
	overflow: hidden !important;
}
