#right_part{	
	position: absolute;
	left: 20%;
	top: 0;
	height: 100%;
	width: 80%;
}

.right_content{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

}

.group_name{
	position: absolute;
	left: 0;
	top: 2%;
	height: 5%;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.chart_container{
	position: absolute;
	left: 35%;
	top: 10%;
	height: 85%;
	width: 30%;

	overflow: hidden;
}

.group_intro{
	position: absolute;
	overflow: hidden;
	left: 5%;
	top: 10%;
	height: 85%;
	width: 25%;

	color: #E0E0E0FF;
	background-color: inherit;
	resize: none;
}