.content .table-line-x{
	position: absolute;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: white;
    display: inline-block;
}

.content .table-line-y{
	position: absolute;
	top: 0;
	height: 100%;
	width: 1px;
	background-color: white;
}

.content .head-cell{
}